:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  /* Size */
  --padding: 12px;
  --avatar-sizd: 36px;

  /* Font size */
  --font-large: 48px;
  --font-medium: 20px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: var(--black-color);
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.font_class1 {
  font-size: 20px;
  font-weight: lighter;
}

.font_class2 {
  font-size: 24px;
  font-weight: bold;
}

.font_class3 {
  font-size: 18px;
  font-weight: bold;
}

.font_class4 {
  font-size: 14px;
  font-weight: lighter;
}

.wrap .intro_bg {
  background-image: url("image/intro.png");
  width: 100%;
  height: 718px;
}

.wrap .intro_bg .header {
  display: flex;
  width: 1280px;
  margin: auto;
  height: 86px;
}

.wrap .intro_bg .header .searchArea {
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 24px;
}

.wrap .intro_bg .header .searchArea form input {
  border: none;
  width: 250px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  padding-left: 10px;
}

.wrap .intro_bg .header .searchArea form span {
  width: 50px;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
}

.wrap .intro_bg .header .nav {
  display: flex;
  justify-content: flex-end;
  line-height: 86px;
  width: calc(1280px - 300px);
}

.wrap .intro_bg .header .nav li {
  margin-left: 84px;
}

.wrap .intro_bg .header .nav li a {
  color: var(--white-color);
}

.wrap .intro_bg .intro_text {
  width: 100%;
  margin: 231px auto 231px auto;
  text-align: center;
}

.wrap .intro_bg .intro_text h1 {
  color: var(--white-color);
  font-size: var(--font-large);
  font-weight: 100;
}

.wrap .intro_bg .intro_text h4 {
  color: var(--white-color);
  font-size: var(--font-medium);
  font-weight: lighter;
}

.wrap .amount {
  position: relative;
  /*relative 사용시 다른 태그요소에 영향을 끼치지 않고 자신의 영역은 그대로 유지*/
  top: -66px;
  display: flex;
  width: 1280px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.wrap .amount > ul {
  display: flex;
  flex: 1;
}

.wrap .amount > ul > li {
  flex: 1;
  height: 132px;
}

.wrap .amount > ul > li > div {
  text-align: center;
  margin-top: 37px;
  height: 57px;
}

.wrap .amount > ul > li:not(:last-child) > div {
  border-right: 1px solid #e1e1e1;
}

/*main_text0*/
.wrap .main_text0 {
  width: 100%;
  height: 601px;
  margin-top: -132px;
  background: #f1f2f3;
}

.wrap .main_text0 h1 {
  padding-top: 116px;
  text-align: center;
}

.wrap .main_text0 .font_class2 {
  text-align: center;
}

.wrap .main_text0 .icons {
  display: flex;
  width: 1280px;
  height: 302px;
  margin: auto;
}

.wrap .main_text0 .icons li {
  flex: 1;
  background-color: white;
  margin-top: 49px;
  height: 302px;
  text-align: center;
}

.wrap .main_text0 .icon_img li > .icon_img {
  margin-top: 36x;
}

.wrap .main_text0 .icons li:not(:last-child) {
  margin-right: 20px;
}

.wrap .main_text0 .font_class4 {
  width: 240px;
  margin: auto;
}

.wrap .main_text0 .moreBtn {
  width: 100px;
  height: 30px;
  background-color: #2f7af4;
  color: white;
  font-size: 12px;
  line-height: 30px;
  margin: 25px auto;
}

/*main_text1*/
.wrap .main_text1 {
  width: 100%;
  height: 659px;
  margin-top: 50px;
}

.wrap .main_text1 > h1 {
  padding-top: 50px;
  text-align: center;
}

.wrap .main_text1 .font_class2 {
  text-align: center;
}

.wrap .main_text1 .service {
  width: 1280px;
  display: flex;
  margin: 49px auto;
  height: 427px;
}

.wrap .main_text1 .service .font_class4 {
  width: 640px;
  height: calc(427px - 40px);
  padding: 20px;
}

.wrap .main_text1 .service .font_class4 h2 {
  margin-bottom: 27px;
}

/*main_text2*/
.wrap .main_text2 {
  width: 100%;
  height: 418px;
  background-image: url("image/contract.png");
}

.wrap .main_text2 ul {
  display: flex;
  padding-top: 138px;
}

.wrap .main_text2 ul li {
  flex: 1;
  text-align: center;
}

.wrap .main_text2 ul li div h1,
.wrap .main_text2 ul li div {
  color: #fff;
}

.wrap .main_text2 ul li .moreBtn2 {
  width: 220px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  cursor: pointer;
  margin: 16px auto;
}

/* footer */
.wrap footer {
  display: flex;
  background-color: #1f1f1f;
  padding: 30px;
}

.wrap footer div:first-child {
  flex: 3;
  text-align: center;
  color: #fff;
}

.wrap footer div:last-child {
  flex: 9;
  color: #fff;
}
